*{
    margin: 0;
    padding: 0;
    font-family: sans-serif	;
}
body{
    box-sizing: border-box; /*This way the padding wont affect the width */
}
.header{
    width: 100%;
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    background-image: linear-gradient(rgba(9, 8, 8, 0.7),rgba(100, 100, 100, 0.142)), url("Assets/headphones_hero_1.jpg");
    position: relative;
}
nav {
    display : flex;
    justify-content: space-between;
    padding: 1% 9%;
    align-items: center;
}
nav img{
    width: 150px;
}
.nav-links{
    flex: 1;
    text-align: right;
}
nav ul li{
    list-style: none;
    display: inline-block;
    padding: 10px 12px;
    position: relative;
}
.nav-links ul li a {
    text-decoration: none;
    color: whitesmoke;
    font-size: 13px;
    font-weight: 550;
}
.nav-links ul li a:hover{
    text-decoration: none;
    color: brown;
    transition: 0.5s;
}
.nav-links ul li a:active{
    color:brown;
}
.intro-part{
    width: 90%;
    color: white;
    text-align: center;
    transform: translate(-50%, -50%);
    position: absolute;
    top: 50%;
    left: 50%;
}
.intro-part h1{
    font-size: 40px;
    font-weight: 400;
}
.sub-heading{
   position: relative;
   top: 40px;
}
#sub-heading{
    position: relative;
    top: 130px;
}
.hero-btn{
    text-decoration: none;
    border: 1px solid brown;
    color: white;
    padding: 10px 20px;
    border-radius: 15px;
    background-color: brown;
}
.hero-btn:hover{
    transition: 1.0s;
    background-color: rgb(219, 16, 16);
    border: 1px solid rgb(219, 16, 16);;
}
svg {
    display: none;
}
@media (max-width: 480px){
    .header{
        background-size: cover;
        min-height: 150vh;
    }
    .intro-part{
        margin-top: 40px;
        margin-left:10px;
    }
    .intro-part h1{
        font-size: 30px;
    }
    #sub-heading{
        margin-top: 30px
    }
    .hero-btn{
        position: relative;
        top: 15px;
        left: -20px;
        border-style:double;
}
.nav-links ul li{
    display: block;
}
nav img{
    position:absolute;
    left: 30%;
}
.nav-links{
    position: absolute;
    background: transparent;
    width: 200px;
    margin-top: 50px;
    margin-left: 80px;
    top: 0;
    text-align: center;
    z-index: 2;
    
svg {
  fill: #fff; /* Change the fill color as needed */
  width: 24px;
  height: 24px;
  display: block;
}
    }
}
